<h2>Create Your Order</h2>
<div class="mb-3">
  <label for="prdCat" class="form-label"> Category:</label>
  <select
    class="form-control"
    name="cat"
    id="prdCat"
    [(ngModel)]="selectedCatId"
  >
    <option value="0">All</option>
    <option *ngFor="let cat of catList" [value]="cat.id">{{ cat.name }}</option>
  </select>
</div>
<div class="bg-warning">
  <!-- make property binding on the sentcatid prop -->
  <app-product-list
    [sentCatId]="selectedCatId"
    (totalPriceChange)="onTotalPriceChnage($event)"
  ></app-product-list>
</div>

<hr />
<h3>Order Total Price: {{ receivedOrderTotalPrice }}</h3>
<div>
  <h3>enter you name :</h3>
  <input type="text" class="form-control" #clientNameInput />
  <hr />
</div>
